# TODO: Numpy is broken in Windows 2004 except for 1.19.3
# A fix should be out by end of Jan 2021 🙈
# https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html
domdf-python-tools>=0.9.0
numpy>=1.19.1; platform_system != "Windows"
numpy==1.19.3; platform_system == "Windows"
pandas>=1.0.1
typing-extensions>=3.7.4.3
